delete interface xe-0/0/2
delete interface xe-0/0/3
delete interface xe-0/0/6
delete interface xe-0/0/7
set interface xe-0/0/2.0 family ethernet-switching interface-mode access
set interfaces xe-0/0/2.0 family ethernet-switching vlan members default
set interface xe-0/0/3.0 family ethernet-switching interface-mode access
set interfaces xe-0/0/3.0 family ethernet-switching vlan members default
set interface xe-0/0/6.0 family ethernet-switching interface-mode access
set interfaces xe-0/0/6.0 family ethernet-switching vlan members default
set interface xe-0/0/7.0 family ethernet-switching interface-mode access
set interfaces xe-0/0/7.0 family ethernet-switching vlan members default
{#  #}