delete interfaces et-0/0/0 
delete interfaces xe-0/0/0 
delete interfaces xe-0/0/0:0 
delete interfaces xe-0/0/0:1 
delete interfaces xe-0/0/0:2 
delete interfaces xe-0/0/0:3 
delete interfaces et-0/0/1 
delete interfaces xe-0/0/1 
delete interfaces xe-0/0/1:0 
delete interfaces xe-0/0/1:1 
delete interfaces xe-0/0/1:2 
delete interfaces xe-0/0/1:3 
delete interfaces et-0/0/2 
delete interfaces xe-0/0/2 
delete interfaces xe-0/0/2:0 
delete interfaces xe-0/0/2:1 
delete interfaces xe-0/0/2:2 
delete interfaces xe-0/0/2:3 
delete interfaces et-0/0/3 
delete interfaces xe-0/0/3 
delete interfaces xe-0/0/3:0 
delete interfaces xe-0/0/3:1 
delete interfaces xe-0/0/3:2 
delete interfaces xe-0/0/3:3 
delete interfaces et-0/0/4 
delete interfaces xe-0/0/4 
delete interfaces xe-0/0/4:0 
delete interfaces xe-0/0/4:1 
delete interfaces xe-0/0/4:2 
delete interfaces xe-0/0/4:3 
delete interfaces et-0/0/5 
delete interfaces xe-0/0/5 
delete interfaces xe-0/0/5:0 
delete interfaces xe-0/0/5:1 
delete interfaces xe-0/0/5:2 
delete interfaces xe-0/0/5:3 
delete interfaces et-0/0/6 
delete interfaces xe-0/0/6 
delete interfaces xe-0/0/6:0 
delete interfaces xe-0/0/6:1 
delete interfaces xe-0/0/6:2 
delete interfaces xe-0/0/6:3 
delete interfaces et-0/0/7 
delete interfaces xe-0/0/7 
delete interfaces xe-0/0/7:0 
delete interfaces xe-0/0/7:1 
delete interfaces xe-0/0/7:2 
delete interfaces xe-0/0/7:3 
delete interfaces et-0/0/8 
delete interfaces xe-0/0/8 
delete interfaces xe-0/0/8:0 
delete interfaces xe-0/0/8:1 
delete interfaces xe-0/0/8:2 
delete interfaces xe-0/0/8:3 
delete interfaces et-0/0/9 
delete interfaces xe-0/0/9 
delete interfaces xe-0/0/9:0 
delete interfaces xe-0/0/9:1 
delete interfaces xe-0/0/9:2 
delete interfaces xe-0/0/9:3 
delete interfaces et-0/0/10 
delete interfaces xe-0/0/10 
delete interfaces xe-0/0/10:0 
delete interfaces xe-0/0/10:1 
delete interfaces xe-0/0/10:2 
delete interfaces xe-0/0/10:3 
delete interfaces et-0/0/11 
delete interfaces xe-0/0/11 
delete interfaces xe-0/0/11:0 
delete interfaces xe-0/0/11:1 
delete interfaces xe-0/0/11:2 
delete interfaces xe-0/0/11:3 
delete interfaces et-0/0/12 
delete interfaces xe-0/0/12 
delete interfaces xe-0/0/12:0 
delete interfaces xe-0/0/12:1 
delete interfaces xe-0/0/12:2 
delete interfaces xe-0/0/12:3 
delete interfaces et-0/0/13 
delete interfaces xe-0/0/13 
delete interfaces xe-0/0/13:0 
delete interfaces xe-0/0/13:1 
delete interfaces xe-0/0/13:2 
delete interfaces xe-0/0/13:3 
delete interfaces et-0/0/14 
delete interfaces xe-0/0/14 
delete interfaces xe-0/0/14:0 
delete interfaces xe-0/0/14:1 
delete interfaces xe-0/0/14:2 
delete interfaces xe-0/0/14:3 
delete interfaces et-0/0/15 
delete interfaces xe-0/0/15 
delete interfaces xe-0/0/15:0 
delete interfaces xe-0/0/15:1 
delete interfaces xe-0/0/15:2 
delete interfaces xe-0/0/15:3 
delete interfaces et-0/0/16 
delete interfaces xe-0/0/16 
delete interfaces xe-0/0/16:0 
delete interfaces xe-0/0/16:1 
delete interfaces xe-0/0/16:2 
delete interfaces xe-0/0/16:3 
delete interfaces et-0/0/17 
delete interfaces xe-0/0/17 
delete interfaces xe-0/0/17:0 
delete interfaces xe-0/0/17:1 
delete interfaces xe-0/0/17:2 
delete interfaces xe-0/0/17:3 
delete interfaces et-0/0/18 
delete interfaces xe-0/0/18 
delete interfaces xe-0/0/18:0 
delete interfaces xe-0/0/18:1 
delete interfaces xe-0/0/18:2 
delete interfaces xe-0/0/18:3 
delete interfaces et-0/0/19 
delete interfaces xe-0/0/19 
delete interfaces xe-0/0/19:0 
delete interfaces xe-0/0/19:1 
delete interfaces xe-0/0/19:2 
delete interfaces xe-0/0/19:3 
delete interfaces et-0/0/20 
delete interfaces xe-0/0/20 
delete interfaces xe-0/0/20:0 
delete interfaces xe-0/0/20:1 
delete interfaces xe-0/0/20:2 
delete interfaces xe-0/0/20:3 
delete interfaces et-0/0/21 
delete interfaces xe-0/0/21 
delete interfaces xe-0/0/21:0 
delete interfaces xe-0/0/21:1 
delete interfaces xe-0/0/21:2 
delete interfaces xe-0/0/21:3 
delete interfaces et-0/0/22 
delete interfaces xe-0/0/22 
delete interfaces xe-0/0/22:0 
delete interfaces xe-0/0/22:1 
delete interfaces xe-0/0/22:2 
delete interfaces xe-0/0/22:3 
delete interfaces et-0/0/23 
delete interfaces xe-0/0/23 
delete interfaces xe-0/0/23:0 
delete interfaces xe-0/0/23:1 
delete interfaces xe-0/0/23:2 
delete interfaces xe-0/0/23:3 
delete interfaces et-0/0/24 
delete interfaces xe-0/0/24 
delete interfaces xe-0/0/24:0 
delete interfaces xe-0/0/24:1 
delete interfaces xe-0/0/24:2 
delete interfaces xe-0/0/24:3 
delete interfaces et-0/0/25 
delete interfaces xe-0/0/25 
delete interfaces xe-0/0/25:0 
delete interfaces xe-0/0/25:1 
delete interfaces xe-0/0/25:2 
delete interfaces xe-0/0/25:3 
delete interfaces et-0/0/26 
delete interfaces xe-0/0/26 
delete interfaces xe-0/0/26:0 
delete interfaces xe-0/0/26:1 
delete interfaces xe-0/0/26:2 
delete interfaces xe-0/0/26:3 
delete interfaces et-0/0/27 
delete interfaces xe-0/0/27 
delete interfaces xe-0/0/27:0 
delete interfaces xe-0/0/27:1 
delete interfaces xe-0/0/27:2 
delete interfaces xe-0/0/27:3 
delete interfaces et-0/0/28 
delete interfaces xe-0/0/28 
delete interfaces xe-0/0/28:0 
delete interfaces xe-0/0/28:1 
delete interfaces xe-0/0/28:2 
delete interfaces xe-0/0/28:3 
delete interfaces et-0/0/29 
delete interfaces xe-0/0/29 
delete interfaces xe-0/0/29:0 
delete interfaces xe-0/0/29:1 
delete interfaces xe-0/0/29:2 
delete interfaces xe-0/0/29:3 
delete interfaces et-0/0/30 
delete interfaces xe-0/0/30 
delete interfaces xe-0/0/30:0 
delete interfaces xe-0/0/30:1 
delete interfaces xe-0/0/30:2 
delete interfaces xe-0/0/30:3 
delete interfaces et-0/0/31 
delete interfaces xe-0/0/31 
delete interfaces xe-0/0/31:0 
delete interfaces xe-0/0/31:1 
delete interfaces xe-0/0/31:2 
delete interfaces xe-0/0/31:3 
delete interfaces et-0/0/32 
delete interfaces xe-0/0/32 
delete interfaces xe-0/0/32:0 
delete interfaces xe-0/0/32:1 
delete interfaces xe-0/0/32:2 
delete interfaces xe-0/0/32:3 
delete interfaces et-0/0/33 
delete interfaces xe-0/0/33 
delete interfaces xe-0/0/33:0 
delete interfaces xe-0/0/33:1 
delete interfaces xe-0/0/33:2 
delete interfaces xe-0/0/33:3 
delete interfaces et-0/0/34 
delete interfaces xe-0/0/34 
delete interfaces xe-0/0/34:0 
delete interfaces xe-0/0/34:1 
delete interfaces xe-0/0/34:2 
delete interfaces xe-0/0/34:3 
delete interfaces et-0/0/35 
delete interfaces xe-0/0/35 
delete interfaces xe-0/0/35:0 
delete interfaces xe-0/0/35:1 
delete interfaces xe-0/0/35:2 
delete interfaces xe-0/0/35:3 
delete interfaces et-0/0/36 
delete interfaces xe-0/0/36 
delete interfaces xe-0/0/36:0 
delete interfaces xe-0/0/36:1 
delete interfaces xe-0/0/36:2 
delete interfaces xe-0/0/36:3 
delete interfaces et-0/0/37 
delete interfaces xe-0/0/37 
delete interfaces xe-0/0/37:0 
delete interfaces xe-0/0/37:1 
delete interfaces xe-0/0/37:2 
delete interfaces xe-0/0/37:3 
delete interfaces et-0/0/38 
delete interfaces xe-0/0/38 
delete interfaces xe-0/0/38:0 
delete interfaces xe-0/0/38:1 
delete interfaces xe-0/0/38:2 
delete interfaces xe-0/0/38:3 
delete interfaces et-0/0/39 
delete interfaces xe-0/0/39 
delete interfaces xe-0/0/39:0 
delete interfaces xe-0/0/39:1 
delete interfaces xe-0/0/39:2 
delete interfaces xe-0/0/39:3 
delete interfaces et-0/0/40 
delete interfaces xe-0/0/40 
delete interfaces xe-0/0/40:0 
delete interfaces xe-0/0/40:1 
delete interfaces xe-0/0/40:2 
delete interfaces xe-0/0/40:3 
delete interfaces et-0/0/41 
delete interfaces xe-0/0/41 
delete interfaces xe-0/0/41:0 
delete interfaces xe-0/0/41:1 
delete interfaces xe-0/0/41:2 
delete interfaces xe-0/0/41:3 
delete interfaces et-0/0/42 
delete interfaces xe-0/0/42 
delete interfaces xe-0/0/42:0 
delete interfaces xe-0/0/42:1 
delete interfaces xe-0/0/42:2 
delete interfaces xe-0/0/42:3 
delete interfaces et-0/0/43 
delete interfaces xe-0/0/43 
delete interfaces xe-0/0/43:0 
delete interfaces xe-0/0/43:1 
delete interfaces xe-0/0/43:2 
delete interfaces xe-0/0/43:3 
delete interfaces et-0/0/44 
delete interfaces xe-0/0/44 
delete interfaces xe-0/0/44:0 
delete interfaces xe-0/0/44:1 
delete interfaces xe-0/0/44:2 
delete interfaces xe-0/0/44:3 
delete interfaces et-0/0/45 
delete interfaces xe-0/0/45 
delete interfaces xe-0/0/45:0 
delete interfaces xe-0/0/45:1 
delete interfaces xe-0/0/45:2 
delete interfaces xe-0/0/45:3 
delete interfaces et-0/0/46 
delete interfaces xe-0/0/46 
delete interfaces xe-0/0/46:0 
delete interfaces xe-0/0/46:1 
delete interfaces xe-0/0/46:2 
delete interfaces xe-0/0/46:3 
delete interfaces et-0/0/47 
delete interfaces xe-0/0/47 
delete interfaces xe-0/0/47:0 
delete interfaces xe-0/0/47:1 
delete interfaces xe-0/0/47:2 
delete interfaces xe-0/0/47:3 
delete interfaces et-0/0/48 
delete interfaces xe-0/0/48:0 
delete interfaces xe-0/0/48:1 
delete interfaces xe-0/0/48:2 
delete interfaces xe-0/0/48:3 
delete interfaces et-0/0/49 
delete interfaces xe-0/0/49:0 
delete interfaces xe-0/0/49:1 
delete interfaces xe-0/0/49:2 
delete interfaces xe-0/0/49:3 
delete interfaces et-0/0/50 
delete interfaces xe-0/0/50:0 
delete interfaces xe-0/0/50:1 
delete interfaces xe-0/0/50:2 
delete interfaces xe-0/0/50:3 
delete interfaces et-0/0/51 
delete interfaces xe-0/0/51:0 
delete interfaces xe-0/0/51:1 
delete interfaces xe-0/0/51:2 
delete interfaces xe-0/0/51:3 
delete interfaces et-0/0/52 
delete interfaces xe-0/0/52:0 
delete interfaces xe-0/0/52:1 
delete interfaces xe-0/0/52:2 
delete interfaces xe-0/0/52:3 
delete interfaces et-0/0/53 
delete interfaces xe-0/0/53:0 
delete interfaces xe-0/0/53:1 
delete interfaces xe-0/0/53:2 
delete interfaces xe-0/0/53:3 
delete interfaces et-0/0/54 
delete interfaces xe-0/0/54:0 
delete interfaces xe-0/0/54:1 
delete interfaces xe-0/0/54:2 
delete interfaces xe-0/0/54:3 
delete interfaces et-0/0/55 
delete interfaces xe-0/0/55:0 
delete interfaces xe-0/0/55:1 
delete interfaces xe-0/0/55:2 
delete interfaces xe-0/0/55:3 
delete interfaces et-0/0/56 
delete interfaces xe-0/0/56:0 
delete interfaces xe-0/0/56:1 
delete interfaces xe-0/0/56:2 
delete interfaces xe-0/0/56:3 
delete interfaces et-0/0/57 
delete interfaces xe-0/0/57:0 
delete interfaces xe-0/0/57:1 
delete interfaces xe-0/0/57:2 
delete interfaces xe-0/0/57:3 
delete interfaces et-0/0/58 
delete interfaces xe-0/0/58:0 
delete interfaces xe-0/0/58:1 
delete interfaces xe-0/0/58:2 
delete interfaces xe-0/0/58:3 
delete interfaces et-0/0/59 
delete interfaces xe-0/0/59:0 
delete interfaces xe-0/0/59:1 
delete interfaces xe-0/0/59:2 
delete interfaces xe-0/0/59:3 
delete interfaces et-0/0/60 
delete interfaces xe-0/0/60:0 
delete interfaces xe-0/0/60:1 
delete interfaces xe-0/0/60:2 
delete interfaces xe-0/0/60:3 
delete interfaces et-0/0/61 
delete interfaces xe-0/0/61:0 
delete interfaces xe-0/0/61:1 
delete interfaces xe-0/0/61:2 
delete interfaces xe-0/0/61:3 
delete interfaces et-0/0/62 
delete interfaces xe-0/0/62:0 
delete interfaces xe-0/0/62:1 
delete interfaces xe-0/0/62:2 
delete interfaces xe-0/0/62:3 
delete interfaces et-0/0/63 
delete interfaces xe-0/0/63:0 
delete interfaces xe-0/0/63:1 
delete interfaces xe-0/0/63:2 
delete interfaces xe-0/0/63:3 
delete interfaces et-0/0/64 
delete interfaces xe-0/0/64:0 
delete interfaces xe-0/0/64:1 
delete interfaces xe-0/0/64:2 
delete interfaces xe-0/0/64:3 
delete interfaces et-0/0/65 
delete interfaces xe-0/0/65:0 
delete interfaces xe-0/0/65:1 
delete interfaces xe-0/0/65:2 
delete interfaces xe-0/0/65:3 
delete interfaces et-0/0/66 
delete interfaces xe-0/0/66:0 
delete interfaces xe-0/0/66:1 
delete interfaces xe-0/0/66:2 
delete interfaces xe-0/0/66:3 
delete interfaces et-0/0/67 
delete interfaces xe-0/0/67:0 
delete interfaces xe-0/0/67:1 
delete interfaces xe-0/0/67:2 
delete interfaces xe-0/0/67:3 
delete interfaces et-0/0/68 
delete interfaces xe-0/0/68:0 
delete interfaces xe-0/0/68:1 
delete interfaces xe-0/0/68:2 
delete interfaces xe-0/0/68:3 
delete interfaces et-0/0/69 
delete interfaces xe-0/0/69:0 
delete interfaces xe-0/0/69:1 
delete interfaces xe-0/0/69:2 
delete interfaces xe-0/0/69:3 
delete interfaces et-0/0/70 
delete interfaces xe-0/0/70:0 
delete interfaces xe-0/0/70:1 
delete interfaces xe-0/0/70:2 
delete interfaces xe-0/0/70:3 
delete interfaces et-0/0/71 
delete interfaces xe-0/0/71:0 
delete interfaces xe-0/0/71:1 
delete interfaces xe-0/0/71:2 
delete interfaces xe-0/0/71:3 
set system host-name {{ hostname }}
set protocols lldp port-id-subtype interface-name
set protocols lldp interface all
set protocols lldp-med interface all
{% for vlan in vlans.get(pod) %}
set vlans vl-{{ vlan }} vlan-id {{ vlan }}
{% endfor %}
{% for vlan in vlans.get('inter-pod') %}
set vlans vl-{{ vlan }} vlan-id {{ vlan }}
{% endfor %}
{% for interface in range(2, 10) %}
set interfaces xe-0/0/{{ interface }}.0 family ethernet-switching interface-mode trunk
set interfaces xe-0/0/{{ interface }}.0 family ethernet-switching vlan members [{{ vlans.get(pod) | join(' ') }}]
{% endfor %}
{% for interface in [1, 10, 11] %}
set interfaces xe-0/0/{{ interface }}.0 family ethernet-switching interface-mode trunk
set interfaces xe-0/0/{{ interface }}.0 family ethernet-switching vlan members [{{ vlans.get('inter-pod') | join(' ') }}]
{% endfor %}